#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#section {
  width: 800px;
  margin: 60px;
  border: 2px solid blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
p {
  text-align: justify;
  text-transform: capitalize;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  line-height: 30px;
}
